$color-primary: #432a7e;
$color-secondary: #b7c00f;
$color-pale: #CEC8FF;
$color-mid:  #ad1c78;
$color-dark: #120314;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal-transparent: rgba(26, 149, 149, 0.584);
$color-teal:#17A2b8;
$color-body: #dce1e2;
$color-copper: #B87333;
$color-yellow: #FACA00;
$color_blue: #35A2C9;
$color-gray: rgb(148, 146, 146);

$body-font: "Poppins";
$header-font: "Poppins";


body {
    font-family: $body-font;
    background-color: $color-body;
}

h1  {
    font-family: $header-font;
    font-weight:bolder;
}


h2 {
    font-family: $header-font;
    font-weight: bold;
    color: $color-blue;
    font-size: large;
}

h3 {
    font-family: $header-font;
    font-weight: 500;
}


header {
    h1, h2 {
        color: $color-dark;
    }
    h2 {
        font-style: italic;
        font-size: medium;
    }
}



.site-footer {
    background-image: linear-gradient($color-teal-transparent,white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, $color-teal-transparent, $color-teal, $color-pale);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: $color-gray;
    
}

#reserveButton {
    background-color: $color-teal;
    padding: 10px 15px;
    border-radius: 5px;
}

.tab-content {
    border: 1px solid #DDD;
    padding-top: 10px;
}

.carousel-caption { 
    background-color: $color-teal-transparent;
}

.carousel {
    border: $color-secondary;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#reserveDemoModal {
    .modal-content {
        background-color: $color-yellow;
        border-radius: 2em;
    }
}

#loginModal {
    .modal-content {
        background-color: $color-yellow;
        border-radius: 2em;
    }
}


#createAccountModal {
    .modal-content {
        background-color: $color-blue;
        border-radius: 2em;
    }
}

#createAccountModelAnchor {
    color: $color-mid;
    font-weight: 700;
}